body{
    background-color: #999;
}

.whiteBox{
    width: 290px;
    height: 290px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.imgBox{
    background-image: url("917587201295.jpg");
    width: 285px;
    height: 285px;
    cursor: pointer;
}

.hide{
    display: none;
}

.hold{
    border:solid red 4px;
}

.dashed{
    background: rgb(215, 135, 80);
    border-style: dashed;;
}